<div class="home-header">
  <h1>Welcome to MusicHub</h1>
  <p>Discover the top songs and albums of the week, and stay connected with your friends.</p>
</div>

<div class="home-section">
  <h2>Top Songs of the Week</h2>
  <div class="row-scroll">
    {{#each topSongs}}
      <div class="col-2-4">
        {{> song_card}}
      </div>
    {{/each}}
  </div>
</div>

<div class="home-section">
  <h2>Top Albums of the Week</h2>
  <div class="row-scroll">
    {{#each topAlbums}}
      <div class="col-2-4">
        {{> album_card}}
      </div>
    {{/each}}
  </div>
</div>

<div class="home-section">
  <h2>Friend Feed</h2>
  <div class="friend-feed">
    {{#each friendActivities}}
      <div class="feed-item">
        {{#if (eq type 'comment')}}
          <p><strong>{{user}}</strong> commented: "{{content}}"</p>
        {{else if (eq type 'like')}}
          <p><strong>{{user}}</strong> liked your comment: "{{content}}"</p>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>